.search_container {
  display: flex;
  justify-content: center;
  margin: 16px 0;

  .search_form {
    width: 450px;
    display: flex;
    position: relative;

    .search_input {
      height: 46px;
      width: 100%;
      padding: 0 16px;
      font-size: 16px;
      z-index: 1;
      border-radius: 4px;
      border: none;
      color: #333;
      background: #f2f2f2;

      &:focus {
        outline: none;
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #333;
        opacity: 1; /* Firefox */
      }
    }

    .search_button {
      position: absolute;
      z-index: 3;
      height: 46px;
      width: 46px;
      top: 0;
      right: 0;
      cursor: pointer;
      background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
      border: 0;
      background-size: 18px 18px;
      background-position: 50%;

      &:focus {
        outline: none;
      }
    }

    .search_clear {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 46px;
      width: 46px;
      height: 46px;
      cursor: pointer;
      border: none;
      font-size: 18px;
      z-index: 2;
      background: none;

      &:focus {
        outline: none;
      }
    }

    .search_suggestions {
      position: absolute;
      max-height: 2050px;
      width: 100%;
      background: #f2f2f2;
      top: 46px;
      display: flex;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 20px 40px;
      }

      .search_suggestions_content {
        display: flex;
        //padding: 4px 16px;
        width: 100%;

        ul {
          list-style-type: none;
          width: 100%;
          text-align: left;
          padding: 0;

          li {
            padding: 10px 16px;

            &:hover {
              cursor: pointer;
              background-color: rgb(150, 172, 252);
            }

            :first-child {
              font-size: 22px;
            }

            :nth-child(2) {
              margin: 0 6px 6px;
            }

            :nth-child(3), :nth-child(4) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
} 